@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090b;
  color: #fafafa;
}

::selection {
  background-color: rgba(16, 185, 129, 0.3);
  color: white;
}
